.about {
  margin-top: 170px;
  max-width: 535px;
  margin-left: 320px;

  .about__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #3b3838;
    margin: 0;
    margin-bottom: 65px;
  }

  .about__description {
    margin: 0;
    color: #a6a6a6;
    padding-right: 42px;
  }

  .about__cta {
    margin-top: 70px;
  }

  .about__cta-button {
    border-radius: 40px;
    font-size: 20px;
    padding: 30px 85px;
    box-shadow: -14px 17px 24px 1px rgba(226, 88, 91, 0.45), 0 0 7px rgba(255, 255, 255, 0.35);

    &--service {
      color: rgba(251, 252, 252, 0.7);
      margin-right: 30px
    }

    &--signup {
      color: #f82a56;
      background-color: transparent;
      border: 2px solid #ff6a6d;
    }
  }
}
