.footer-item {
  .footer-item__title {
    font-size: 22px;
    letter-spacing: 1.8px;
    color: $dark-grey;
    text-transform: uppercase;

  }

  .footer-item__link {
    display: block;
    font-size: 20px;
    color: $grey;
    text-decoration: none;
    display: table;
    position: relative;

    &--contacts {
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $grey;
        opacity: 0.5;
        left: 0;
        top: 30px;
      }
    }
  }
}
