.page-header {
  display: flex;
  padding: 0;
  padding-top: 90px;
  padding-right: 211px;
  padding-left: 211px;

  .page-header__logo {
    margin-top: 7px;
    margin-right: 20px;
  }

  .page-header__image {
    max-width: 126px;
  }
}
