.page-header {
  display: flex;
  padding: 0;
  padding-top: 60px;
  flex-wrap: wrap;
  justify-content: space-around;

  .page-header__logo {
    margin-right: 40px;
  }

  .page-header__image {
    max-width: 130px;
    margin-top: 15px;
  }
}
