.page-header {
  display: flex;
  padding: 0;
  padding-top: 90px;
  max-width: 1440px;
  margin: 0 auto;

  .page-header__logo {
    margin-top: 7px;
    margin-right: 20px;
  }

  .page-header__image {
    max-width: 126px;
  }
}
