.ways{
  display: flex;
  max-width: 1560px;
  margin: 0 auto;
  margin-bottom: 150px;

  .ways__image {
    max-width: 630px;
    height: 735px;
    margin-right: 50px;
  }

  .ways__inner {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding-right: 170px;
  }

  .ways__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 67px;
    margin: 0;
    margin-bottom: 80px;
  }

  .ways__description {
    margin: 0;
    margin-left: 82px;
    text-indent: 55px;
    color: #a6a6a6;
  }

  .ways__link {
    color: #3cbef1;
    font-style: italic;
    text-decoration: none;
    margin-left: 90px;
    margin-top: 80px;
  }
}
