.button {
  font-family: "Fivo Sans", "Arial", sans-serif;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  color: $white;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover {
    box-shadow: -14px 17px 24px 1px rgba(226, 88, 91, 0.45),
      0 0 7px rgba(255, 255, 255, 0.35);
  }

  &:active {
    background-color: $light-pink-red;
    color: rgba(251, 252, 252, 0.7);
  }
}
