@font-face {
  font-family: "Fivo Sans";
  src: url("../fonts/Fivosansregular.woff2") format("woff2"), url("../fonts/Fivosansregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fivo Sans";
  src: url("../fonts/Fivosansmedium.woff2") format("woff2"), url("../fonts/Fivosansmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
